---
import { getCollection, getEntry, render } from 'astro:content'
import { Schema } from 'astro-seo-schema'
import { getPageLdJson } from '../../lib/schema'
import Layout from '../../layouts/Layout.astro'
import ExternalLink from '../../components/ExternalLink.astro'
import Timer from '../../components/Timer.astro'

export async function getStaticPaths() {
  const games = await getCollection('games')
  return games.map(game => ({
    params: { slug: game.slug },
  }))
}

const { slug } = Astro.params
if (undefined === slug) {
  return Astro.redirect('/404')
}

const game = await getEntry('games', slug)
if (undefined === game) {
  return Astro.redirect('/404')
}

const { Content } = await render(game)
const itemSchema = {
  ...getPageLdJson(Astro.site, game)
}
---

<Layout
  description={game.data.summary}
  title={game.data.name}
>
  <Schema
    item={itemSchema}
    slot="schema"
  />

  <article class="prose prose-lg">
    <h1>
      <span transition:name={game.data.icon}>{game.data.icon}</span>
      <span transition:name={game.data.name}>{game.data.name}</span>
    </h1>

    <Content />
  </article>

  {game.data.external && <ExternalLink game={game} />}
  {game.data.timer && <Timer seconds={game.data.timer} />}
</Layout>

