---
import Externallink from '../assets/externallink.svg'

const { game } = Astro.props
const label = `Jugar a ${game.data.name}`
---

<div class="flex justify-center mt-12">
  <a
    aria-label={label}
    class="btn btn-external"
    href={game.data.link}
    target="_blank"
    rel="noopener noreferrer"
    title={label}
  >
    <Externallink />
    {label}
  </a>
</div>
