---
import type Game from '../models/Game'

const { item } = Astro.props as { item: Game }
---
<a
  aria-label={item.getLabel()}
  class="tile tile-game"
  data-tags={item.tags.join(',')}
  href={item.getGameLink()}
  title={item.getLabel()}
>
  <span
    aria-label={item.getLabel()}
    role="img"
    transition:name={item.icon}
  >
    {item.icon}
  </span>
  <h2 transition:name={item.name}>{item.name}</h2>
</a>
