---
import type Game from '../models/Game'

const { item } = Astro.props as { item: Game }
const label = item.getLabel()
const { href, linkProps } = item.getGameLink()
---
<a
  aria-label={label}
  class="tile tile-game"
  data-tags={item.tags.join(',')}
  href={href}
  title={label}
  {...linkProps}
>
  <span
    aria-label={item.name}
    role="img"
    transition:name={item.icon}
  >
    {item.icon}
  </span>
  <h2 transition:name={item.name}>{item.name}</h2>
</a>
